.btn {
    padding: 4px 8px;
    color: black;
    display: inline-block;
    opacity: 0.8;
    border-radius: 2px;
}
.btn:hover {
    opacity: 1;
}
.fa {
    margin-right: 5px;
}
.btn-wrapper {
    margin: 5px 0;
}
.btn-wrapper p {
    margin: 5px 0;
}
.Living {
    background-color: #3b5998;
}
.Hobby {
    background-color: #55acee;
}
h1 {
    color: black;
    font-size:30px;
    height:70px;
    width: 400px;
}
.btn {
    padding: 12px 24px;
    color: black;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
.btn:hover {
    opacity: 1;
}
.fa {
    margin-right: 5px;
}
.btn-wrapper {
    margin: 20px 0;
}
.btn-wrapper p {
    margin: 10px 0;
}
.Facebook {
    background-color: #3b5998;
}
.Twitter {
    background-color: #55acee;
}
.Instagram {
    background-color: #3b5998;
}
.main p {
    opacity: 0.7;
    margin-bottom: 3px;
}
.btn {
    padding: 12px 24px;
    color: black;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
.btn:hover {
    opacity: 1;
}
.fa {
    margin-right: 5px;
}
.btn-wrapper {
    margin: 20px 0;
}
.btn-wrapper p {
    margin: 10px 0;
}
img {
    height: 550px;
}
.contents {
    height: 500px;
    margin-top: 100px;
}
.contents-item {
    float: left;
    margin-right: 40px;
}
.contents-item p {
    font-size: 24px;
    margin-top: 30px;
}
.Beli di sini {
    background-color: orange;
}
.Beli di sini {
    background-color: orange;
}
.Beli di sini {
    background-color: orange;
}
.Beli di sini {
    background-color: orange;
}
